body{
	padding: 0;
	margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'MyFont';
  src: url('../images/POORICH.TTF'); 
}

#nav-bar{
  width: 5%;
  height: 8%;
  position: absolute;
  top: 3.5%;
  z-index: 99999999;
  /*background: white;*/
  left: 2%;
  cursor: pointer;
  display: none;
}

#nav-bar img{
  width: 50px;
}

#description{
  width: 70%;
  margin-left: 15%;
  height: 100px;
  background-color: rgba(255,255,255,.85);
  position: absolute;
  bottom: 10%;
  z-index: 999999;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:25px;
  text-align: left;
  font-family: 'MyFont';
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}